<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>发布职位2</title>
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/>  
    <link rel="stylesheet" href="../assets/css/style.css"/> 
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>职位管理 > 发布职位 ><span>完善企业信息</span></p>
    		</div>    		
    	</div>
    	<!--面包屑导航-->
    	<div class="layui-row layui-col-space5 linarrow">
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo active">1.填写职位信息</div>
		    </div>
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo active">2.完善企业信息</div>
		    </div>
		    <div class="layui-col-md4 linitem">
		      <div class="grid-demo">3.发布职位</div>
		    </div>
		</div>
		<!--指示条-->
        <div class="layui-row">        	
            <div class="layui-card positionbox">            	  
				    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>选择已有企业</legend>
					</fieldset>
					<form class="layui-form" action="">
						 <div class="layui-form-item">
							    <label class="layui-form-label">选择企业</label>
							    <div class="layui-input-block">
							    	<div class="layui-form-mid layui-word-aux">如果该公司已发布过职位信息，可直接选择发布</div>
							        <select name="interest" lay-filter="aihao">
								        <option value="0">请选择已有企业</option>
								        <option value="1">河南白象</option>
								        <option value="2">蜜雪冰城</option>
								        <option value="3" selected="">平安车险</option>
								        <option value="4">欣奕除疤</option>								        
								      </select>
							    </div>
						  </div>
					</form>
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>企业信息</legend>
					</fieldset>
					<form  class="layui-form" action="">
						 <div class="layui-form-item">
							    <label class="layui-form-label"><span class="col-red">*</span>企业全称</label>
							    <div class="layui-input-block">
							      <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入企业全称" class="layui-input">
							    </div>
						  </div>
						  <div class="layui-form-item">							    
							    <div class="layui-inline">
							        <label class="layui-form-label">企业logo</label>
							        <div class="layui-input-block">
							      		<button type="button" class="layui-btn layui-btn-danger" id="test7"><i class="layui-icon"></i>上传图片</button>
							        </div>
							      </div>
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">企业性质</label>
							    <div class="layui-input-inline">
							      <select name="interest" lay-filter="aihao">
							        <option value="0">合资</option>
							        <option value="1">独资</option>
							        <option value="2" selected="">国有</option>
							        <option value="3">私营</option>
							        <option value="4">全民所有制</option>
							        <option value="5">集体所有制</option>
							        <option value="6">股份制</option>
							        <option value="7">有限责任</option>
							      </select>
							    </div>							    
						  </div>
						  <div class="layui-form-item">
							    <label class="layui-form-label">招聘地址</label>
							    <div class="layui-input-inline">
							      <select name="quiz1">
							        <option value="">请选择省</option>
							        <option value="浙江" selected="">浙江省</option>
							        <option value="你的工号">江西省</option>
							        <option value="你最喜欢的老师">福建省</option>
							      </select>
							    </div>
							    <div class="layui-input-inline">
							      <select name="quiz2">
							        <option value="">请选择市</option>
							        <option value="杭州">杭州</option>
							        <option value="宁波" disabled="">宁波</option>
							        <option value="温州">温州</option>
							        <option value="温州">台州</option>
							        <option value="温州">绍兴</option>
							      </select>
							    </div>
							    <div class="layui-input-inline">
							      <select name="quiz3">
							        <option value="">请选择县/区</option>
							        <option value="西湖区">西湖区</option>
							        <option value="余杭区">余杭区</option>
							        <option value="拱墅区">临安市</option>
							      </select>
							    </div>							   
							</div>
							<div class="layui-form-item">
							    <label class="layui-form-label"><span class="col-red">*</span>详细地址</label>
							    <div class="layui-input-block">
							      <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入企业全称" class="layui-input">
							    </div>
						   </div>						  
						  <div class="layui-form-item">							    
							    <div class="layui-inline">
							      <label class="layui-form-label">企业规模</label>
							      <div class="layui-input-inline" style="width: 100px;">
							        <input type="text" name="price_min" placeholder="人数" autocomplete="off" class="layui-input">
							      </div>
							      <div class="layui-form-mid">-</div>
							      <div class="layui-input-inline" style="width: 100px;">
							        <input type="text" name="price_max" placeholder="人数" autocomplete="off" class="layui-input">
							      </div>
							    </div>
						  </div>						  
					</form>
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>公司介绍</legend>
					</fieldset>
					<form  class="layui-form" action="">
						 <div class="layui-form-item layui-form-text">
							    <label class="layui-form-label">公司介绍</label>
							    <div class="layui-input-block">							    	
							       <textarea id="demo" style="display: none;"></textarea>
							    </div>							    
							</div>
					</form>
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					    <legend>公司环境</legend>
					</fieldset>
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">上传图片</label>
					    <div class="layui-form-mid layui-word-aux">可选择多张图片上传</div>
					    <div class="layui-input-block">						    	
					       <div class="layui-upload">
								  <button type="button" class="layui-btn" id="test2">选择图片</button> 
								  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
								    预览图：
								    <div class="layui-upload-list" id="demo2"></div>
								 </blockquote>
							</div>
					    </div>							    
					</div>					
					<div class="layui-form-item">
					    <div class="layui-input-block">					    	
					       <a href="javascript:;" class="layui-btn layui-btn-primary">清空重置</a>
					       <a href="javascript:;" class="layui-btn layui-btn-normal">返回上一步</a>
					        <a href="javascript:;" class="layui-btn layui-btn-normal" id="fabu">发布职位</a>
					    </div>
					</div>
            </div>   
		</div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>   
    <script>  	
		//弹框		
		$('#fabu').on('click', function(){			
		  layui.use('layer', function(){
          var layer = layui.layer;
          layer.open({
                type: 2,
                title: '设置星级',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '06发布职位2-弹框.html',
                end: function () {
                   location.reload();
                }
            });
        });
    })		
	</script>
	<script>
		layui.use('upload', function(){
		  var $ = layui.jquery
		  ,upload = layui.upload; 
		
		//多图片上传
		  upload.render({
		    elem: '#test2'
		    ,url: '/upload/'
		    ,multiple: true
		    ,before: function(obj){
		      //预读本地文件示例，不支持ie8
		      obj.preview(function(index, file, result){
		        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
		      });
		    }
		    ,done: function(res){
		      //上传完毕
		    }
		  });
		//设定文件大小限制
		  upload.render({
		    elem: '#test7'
		    ,url: '/upload/'
//		    ,size: 60 //限制文件大小，单位 KB
		    ,done: function(res){
		      console.log(res)
		    }
		  });
		});
		</script>
		<script>
		layui.use('layedit', function(){
		  var layedit = layui.layedit;
		  layedit.build('demo'); //建立编辑器
		});		
		</script>		
</body>
</html>