<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>换购商品</title>
    <link rel="stylesheet" href="../assets/css/iconfont.css">    
    <link rel="stylesheet" href="../assets/css/layui.css">    
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/admin.css"/> 
    <link rel="stylesheet" href="../assets/css/style.css"/>    
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>账号管理 > <span>换购商品</span></p>
    		</div>
    		<div class="mbrt layui-col-xs6 layui-col-md6">
    			<a href="javascript:;" class="layui-btn layui-btn-normal" id="fabu">上传商品</a>    			     			 
    		</div>
    	</div>
    	<!--面包屑导航-->    	
        <div class="layui-row">
            <div class="layui-card">
            	<div class="layui-row">
            	    <div class="layui-col-sm4 layui-col-md3 spbox">
            	     	   <div class="spitem">
            	     	   	       <div class="spimg">
            	     	   	       	    <img src="../assets/images/sp_img01.png" />
            	     	   	       </div>
            	     	   	       <div class="sptxt">
            	     	   	       	    <h3>手持可折叠小风扇（蓝色）</h3>
            	     	   	       	    <p><i class="iconfont">&#xe64c;</i><span class="col-red">30</span>积分</p>
            	     	   	       </div>
            	     	   </div>
            	    </div>   
            	    <div class="layui-col-sm4 layui-col-md3 spbox">
            	     	   <div class="spitem">
            	     	   	       <div class="spimg">
            	     	   	       	    <img src="../assets/images/sp_img01.png" />
            	     	   	       </div>
            	     	   	       <div class="sptxt">
            	     	   	       	    <h3>手持可折叠小风扇（蓝色）</h3>
            	     	   	       	    <p><i class="iconfont">&#xe64c;</i><span class="col-red">30</span>积分</p>
            	     	   	       </div>
            	     	   </div>
            	    </div> 
            	    <div class="layui-col-sm4 layui-col-md3 spbox">
            	     	   <div class="spitem">
            	     	   	       <div class="spimg">
            	     	   	       	    <img src="../assets/images/sp_img02.png" />
            	     	   	       </div>
            	     	   	       <div class="sptxt">
            	     	   	       	    <h3>多啦A梦鼠标垫</h3>
            	     	   	       	    <p><i class="iconfont">&#xe64c;</i><span class="col-red">30</span>积分</p>
            	     	   	       </div>
            	     	   </div>
            	    </div>   
            	    <div class="layui-col-sm4 layui-col-md3 spbox">
            	     	   <div class="spitem">
            	     	   	       <div class="spimg">
            	     	   	       	    <img src="../assets/images/sp_img01.png" />
            	     	   	       </div>
            	     	   	       <div class="sptxt">
            	     	   	       	    <h3>手持可折叠小风扇（蓝色）</h3>
            	     	   	       	    <p><i class="iconfont">&#xe64c;</i><span class="col-red">30</span>积分</p>
            	     	   	       </div>
            	     	   </div>
            	    </div> 
            	</div>
            	<!--分页-->
           		<div id="page"></div>
           		<!--分页-->
            </div>           
        </div>
    </div>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/layui.all.js"></script>    
    <script>
    	var element = layui.element;
    	layui.use(['laypage', 'layer'], function(){
		  var laypage = layui.laypage
		  ,layer = layui.layer;		  
		  
		  //页码完整功能
		  laypage.render({
		    elem: 'page'
		    ,count: 100
		    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
		    ,jump: function(obj){
		      console.log(obj)
		    }
		  });	 
		});
		
		//弹框		
		$('#fabu').on('click', function(){			
		  layui.use('layer', function(){
          var layer = layui.layer;
          layer.open({
                type: 2,
                title: '上传商品',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '11换购商品-上传商品.html',
                end: function () {
                   location.reload();
                }
            });
        });
      })
		
	</script>
	
</body>
</html>