<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzssm.fhf.dao.DomainMsgMapper">
    <resultMap id="BaseResultMap" type="com.jzssm.fhf.entity.DomainMsg">
        <constructor>
            <idArg column="msg_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="msg_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="msg_content" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_role" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    msg_id, msg_name, msg_content, create_time, user_id,user_role
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_msg
        where msg_id = #{msgId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_msg
    where msg_id = #{msgId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jzssm.fhf.entity.DomainMsg">
    insert into tb_msg (msg_id, msg_name, msg_content, 
      create_time, user_id,user_role)
    values (#{msgId,jdbcType=INTEGER}, #{msgName,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR},#{userRole,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.jzssm.fhf.entity.DomainMsg">
        insert into tb_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                msg_id,
            </if>
            <if test="msgName != null">
                msg_name,
            </if>
            <if test="msgContent != null">
                msg_content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userRole != null">
                user_role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgId != null">
                #{msgId,jdbcType=INTEGER},
            </if>
            <if test="msgName != null">
                #{msgName,jdbcType=VARCHAR},
            </if>
            <if test="msgContent != null">
                #{msgContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                #{userRole,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jzssm.fhf.entity.DomainMsg">
        update tb_msg
        <set>
            <if test="msgName != null">
                msg_name = #{msgName,jdbcType=VARCHAR},
            </if>
            <if test="msgContent != null">
                msg_content = #{msgContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
        </set>
        where msg_id = #{msgId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jzssm.fhf.entity.DomainMsg">
    update tb_msg
    set msg_name = #{msgName,jdbcType=VARCHAR},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where msg_id = #{msgId,jdbcType=INTEGER}
  </update>

    <select id="selectAllMsgData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from tb_msg
        <if test="loginId != null">
            where user_id = #{loginId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>